/* HomePage.css */

body {
  font-family: 'Arial', sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  background-color: rgb(255, 190, 190);
  justify-content: flex-start;
  align-items: flex-start;
  height: 104px;
  color: black;
  padding-left: 241px;
}

.header-title {
  margin-left: 20px;
}

.footer {
  background-color: pink;
  color: white;
  padding: 10px;
  text-align: center;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ContainerOne {
  display: flex;
  height: 424px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #393939;
}

.containerOneText {
  color: white;
  font-size: 54px;
  font-weight: 600;
  text-align: center;
}

.ContainerTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
}

.ContainerTwoContent {
  display: flex;
  background-color: #1B1B1B;
  margin-top: 42px;
  margin-bottom: 42px;
  margin-left: 440px;
  margin-right: 440px;
  padding: 56px;
}

.contentLeftTitleContainer {
  margin-bottom: 19px;
}

.contentLeftTitle {
  font-size: 27px;
  font-weight: 600;
  color: white;
}

.contentLeftText {
  font-size: 14px;
  color: white;
}

.contentRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  padding: 20px;
}

button {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  width: 240px;
  cursor: pointer;
}

.ContainerThree {
  display: flex;
 
  margin-left: 241px;
}

.ContainerThreeContent {
  display: flex;
  flex-direction: column;
}

.contentTop {
  background-color: aquamarine;
  width: 849px;
}

.contentTopTitleContainer {
  margin-top: 100px;
  margin-bottom: 25px;
}

.contentTopTitle {
  font-size: 54px;
  font-weight: 600;
  color: black;
}

.contentTopText {
  font-size: 14px;
  color: black;
}

